
W tym przypadku skorzystałem z .env aby zabezpieczyć moje dane w kodzie. Kod SRV został skopiowany z mojego Clustera, znajdującego się w Mongodb.
Aby przetestować działanie rządanych API w POSTMAN, naley w pierwszej koleności uruchomić localhost. 

PORT= for example 3001
DB_HOST=mongodb+srv://wichas1:<>@cluster1.retbci1.mongodb.net
